body{
  background-color: #FFFEE7;
  margin-top: 4%;
}

.navbar{
  padding: 1% 2%;
  background-color: #AD623D !important;
}

.navbar-nav a:hover{
  color: #AD623D;
  background-color: #FFFEE7;
  border-radius: 10%;
}

.mb-3{
  width: 100%;
  padding: 4%;
  border: 1px solid #FFFEE7;
  border-radius: 30px;
}

.pb-1 button:hover{
  color: #AD623D;
  background-color: #FFFEE7;
  border: 1px solid #AD623D;
}

.pb-4 button:hover{
  color: #FFFEE7;
  background-color: #AD623D;
  border: 1px solid #FFFEE7;
}

.pb-4 button{
  color: #AD623D;
  border: 1px solid #AD623D;
}

.gradient-custom-2 {  
  background-color: #AD623D;
  color:#FFFEE7; 
}

.small.mb-0{
  color: #FFFEE7;
}

.mb-5,
.form-label{
  color: #AD623D;
}

.card{
  margin: 1%;
}
.card-title{
  color: #AD623D;
}

footer.bg-body-tertiary h5{
  text-align: center;
  padding: 0.5%;
  margin: 2% 0%;
  background-color: #AD623D;
  color: #FFFEE7;
}

